[submodule "pkgs/ashlib"]
	path = pkgs/ashlib
	url = https://github.com/alejandroliu/ashlib.git
[submodule "pkgs/ecd"]
	path = pkgs/ecd
	url = https://github.com/alejandroliu/ecd.git
[submodule "pkgs/markdown/parsedown"]
	path = pkgs/markdown/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "pkgs/markdown/markdownify"]
	path = pkgs/markdown/markdownify
	url = https://github.com/Pixel418/Markdownify
[submodule "emacs/php-mode"]
	path = emacs/php-mode
	url = https://github.com/ejmr/php-mode.git
